.git/
.gitignore
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.env
.env.*
!.env.template
.venv/
venv/
staticfiles/
media/
docs/
node_modules/
.idea/
.vscode/
*.swp
.DS_Store
